html, body {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
}

footer, .main {
  position: absolute;
  right:20%;
  left:20%;
}

.main {
  top:160px;
  text-align:center;
}

footer {
  bottom:10px;
}

.mainLinks {
  padding-left:0;
  list-style:none;
}

.mainLinks li {
  display:inline-block
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}
.pageLinks {
  overflow: hidden;
  position:absolute;
  top:-1000px;
  width:100%;
}

.socialLinks {
  list-style:none;
  width:318px;
  padding-left:0;
  margin:auto;
}

.socialLinks li {
  display:inline-block;
  margin-right:8px;
}

.socialLinks a {
  text-decoration: none;
}

.socialLinks .text {
  display:inline-block;
  position: relative;
  top:-10px;
}

.socialLinks a:hover .text {
  text-decoration: underline;
  color: black;
}

.footerLinkImg {
  width:35px;
}